@font-face {
  font-family: "Play";
  src: local("Play"), url(/trumpet_static/fonts/Play/Play-Regular.ttf);
}

@font-face {
  font-family: "RumRaisin";
  src: local("RumRaisin"), url(/trumpet_static/fonts/Rum_Raisin/RumRaisin-Regular.ttf);
}

@font-face {
  font-family: "Droid Sans";
  src: local("Droid Sans"), url(/trumpet_static/fonts/Droid_Sans/DroidSans.ttf);
}

@font-face {
  font-family: "Droid Sans Bold";
  src: local("Droid Sans Bold"), url(/trumpet_static/fonts/Droid_Sans/DroidSans-Bold.ttf);
}

@font-face {
  font-family: "Sacramento";
  src: local("Sacramento"), url(/trumpet_static/fonts/Sacramento/Sacramento-Regular.ttf);
}

@font-face {
  font-family: "Questrial";
  src: local("Questrial"), url(/trumpet_static/fonts/Questrial/Questrial-Regular.ttf);
}

@font-face {
  font-family: "Nunito";
  src: local("Nunito"), url(/trumpet_static/fonts/Nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: "Rambla";
  src: local("Rambla"), url(/trumpet_static/fonts/Rambla/Rambla-Regular.ttf);
}

@font-face {
  font-family: "Source Sans Pro";
  src: local("Source Sans Pro"), url(/trumpet_static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: "Cabin";
  src: local("Cabin"), url(/trumpet_static/fonts/Cabin/Cabin-Regular.ttf);
}

/* -------------------------------------------------------*/
/* Colors */
/* -------------------------------------------------------*/
/* Layout */
/* line 32, ../sass/screen.scss */
.hubby-meeting-header {
  background: #8b8878;
  color: cornsilk;
  text-align: center;
  font-size: 1.5em;
}

/* line 38, ../sass/screen.scss */
.hubby-meeting-item {
  background: #eee8cd;
  border-bottom-style: solid;
  border-bottom-color: #cdc8b1;
}

/* line 44, ../sass/screen.scss */
.hubby-meeting-agenda-header {
  text-align: center;
  font-size: 1.1em;
}

/* line 48, ../sass/screen.scss */
.hubby-meeting-item-status {
  font-family: "Play";
  font-size: 0.9em;
}

/* line 53, ../sass/screen.scss */
.hubby-meeting-item-text {
  font-size: 0.8em;
}

/* line 57, ../sass/screen.scss */
.hubby-meeting-item-attachment-marker {
  font-size: 0.7em;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF8B8878', endColorstr='#FF545349');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8b8878), color-stop(100%, #706d60));
  background: -webkit-linear-gradient(#8b8878, #706d60);
  background: -moz-linear-gradient(#8b8878, #706d60);
  background: -o-linear-gradient(#8b8878, #706d60);
  background: linear-gradient(#8b8878, #706d60);
  -webkit-box-shadow: #aeaca1 0 1px 0 inset;
  -moz-box-shadow: #aeaca1 0 1px 0 inset;
  box-shadow: #aeaca1 0 1px 0 inset;
  border: 1px solid #626054;
  color: cornsilk;
  text-shadow: #44423a 0 -1px 0;
  font-size: 0.7em;
}
/* line 15, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-attachment-marker:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-attachment-marker:hover {
  background-color: #626054;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7e7b6c), color-stop(100%, #626054));
  background: -webkit-linear-gradient(#7e7b6c, #626054);
  background: -moz-linear-gradient(#7e7b6c, #626054);
  background: -o-linear-gradient(#7e7b6c, #626054);
  background: linear-gradient(#7e7b6c, #626054);
}
/* line 39, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-attachment-marker:active {
  -webkit-box-shadow: #5a584d 0 1px 2px inset;
  -moz-box-shadow: #5a584d 0 1px 2px inset;
  box-shadow: #5a584d 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-attachment-marker.disabled, .hubby-meeting-item-attachment-marker[disabled] {
  opacity: 0.6;
  background: #706d60;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.hubby-meeting-item-attachment-marker::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 61, ../sass/screen.scss */
.hubby-meeting-item-action-marker {
  font-size: 0.7em;
  padding: 0.3em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF8B8878', endColorstr='#FF545349');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8b8878), color-stop(100%, #706d60));
  background: -webkit-linear-gradient(#8b8878, #706d60);
  background: -moz-linear-gradient(#8b8878, #706d60);
  background: -o-linear-gradient(#8b8878, #706d60);
  background: linear-gradient(#8b8878, #706d60);
  -webkit-box-shadow: #aeaca1 0 1px 0 inset;
  -moz-box-shadow: #aeaca1 0 1px 0 inset;
  box-shadow: #aeaca1 0 1px 0 inset;
  border: 1px solid #626054;
  color: cornsilk;
  text-shadow: #44423a 0 -1px 0;
  font-size: 0.7em;
}
/* line 15, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-action-marker:hover {
  text-decoration: none;
}
/* line 36, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-action-marker:hover {
  background-color: #626054;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7e7b6c), color-stop(100%, #626054));
  background: -webkit-linear-gradient(#7e7b6c, #626054);
  background: -moz-linear-gradient(#7e7b6c, #626054);
  background: -o-linear-gradient(#7e7b6c, #626054);
  background: linear-gradient(#7e7b6c, #626054);
}
/* line 39, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-action-marker:active {
  -webkit-box-shadow: #5a584d 0 1px 2px inset;
  -moz-box-shadow: #5a584d 0 1px 2px inset;
  box-shadow: #5a584d 0 1px 2px inset;
}
/* line 6, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.hubby-meeting-item-action-marker.disabled, .hubby-meeting-item-action-marker[disabled] {
  opacity: 0.6;
  background: #706d60;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 73, ../../../../../../../../../../../var/lib/gems/1.9.1/gems/sassy-buttons-0.1.4/stylesheets/_sassy-buttons.sass */
.hubby-meeting-item-action-marker::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 67, ../sass/screen.scss */
.hubby-action-text {
  font-size: 0.6em;
}

/* line 71, ../sass/screen.scss */
.hubby-meeting-item-attachments {
  font-size: 0.8em;
}

/* line 75, ../sass/screen.scss */
.hubby-meeting-item-info {
  font-size: 0.9em;
}
