@font-face {
    font-family: "Play";
    src: local("Play"), url(/trumpet_static/fonts/Play/Play-Regular.ttf);
}

@font-face {
    font-family: "RumRaisin" ;
    src: local("RumRaisin"), url(/trumpet_static/fonts/Rum_Raisin/RumRaisin-Regular.ttf);
}

@font-face {
    font-family: "Droid Sans" ;
    src: local("Droid Sans"), url(/trumpet_static/fonts/Droid_Sans/DroidSans.ttf);
}
@font-face {
    font-family: "Droid Sans Bold" ;
    src: local("Droid Sans Bold"), url(/trumpet_static/fonts/Droid_Sans/DroidSans-Bold.ttf);
}
@font-face {
    font-family: "Sacramento" ;
    src: local("Sacramento"), url(/trumpet_static/fonts/Sacramento/Sacramento-Regular.ttf);
}
@font-face {
    font-family: "Questrial" ;
    src: local("Questrial"), url(/trumpet_static/fonts/Questrial/Questrial-Regular.ttf);
}
@font-face {
    font-family: "Nunito" ;
    src: local("Nunito"), url(/trumpet_static/fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
    font-family: "Rambla" ;
    src: local("Rambla"), url(/trumpet_static/fonts/Rambla/Rambla-Regular.ttf);
}
@font-face {
    font-family: "Source Sans Pro" ;
    src: local("Source Sans Pro"), url(/trumpet_static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}
@font-face {
    font-family: "Cabin" ;
    src: local("Cabin"), url(/trumpet_static/fonts/Cabin/Cabin-Regular.ttf);
}

